* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#app {
  height: 100vh;
  width: 100vw;
}
body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../main.jpg);
  /* 隐藏滚动条 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
/* Webkit浏览器（如Chrome、Safari） */
::-webkit-scrollbar {
  display: none;
}
body::before{
  z-index: -1;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: radial-gradient(
		circle,
		rgba(255, 255, 255, 0.1) 0%,
		rgba(0, 0, 0, 0.5) 70%,
		rgba(0, 0, 0, 0.8) 80%,
		rgba(0, 0, 0, 0.84) 84%,
		rgba(0, 0, 0, 0.88) 88%,
		rgba(0, 0, 0, 0.94) 92%,
		rgba(0, 0, 0, 0.98) 94%,
		rgba(0, 0, 0) 100%
	);
}